# Шаг 1. Импортируйте необходимые библиотеки

In [12]:
import pandas as pd

# Шаг 2. Импортируйте набор данных с этого [адреса](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [9]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

# Шаг 3. Сохраните его в переменной с именем baby_names.

In [16]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

# Шаг 4. Выведите первые 10 строк

In [8]:
baby_names_f = baby_names.head(10)
print(baby_names_f)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

# Шаг 5.  Удалить столбцы 'Unnamed: 0' и 'Id'.

In [7]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1).head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

# Шаг 6. В наборе данных больше женских или мужских имен?

In [6]:
F = baby_names['Gender'].tolist()
n, m = 0, 0
for i in range(len(baby_names)):
  if F[i] == 'F':
    n+=1
  else:
    n-=1
    m+=1
if n>0:
  print('В наборе больше женских имен на:', n)
else:
  print('В наборе больше мужских имен на:', m)

В наборе больше женских имен на: 101297

# Шаг 7.  Какое имя встречается чаще всего?

In [15]:
Best_name = baby_names['Name'].mode()
j= baby_names['Name'].value_counts()
print('Наиболее часто встречаемое имя:', Best_name[0])
print('Оно встречается', j[0], 'раз')

Наиболее часто встречаемое имя: Riley
Оно встречается 1112 раз

# Шаг 8.  Сколько разных имен есть в наборе данных?

In [5]:
print('Количество разных имен в наборе данных равно:', len(baby_names['Name'].value_counts()))

Количество разных имен в наборе данных равно: 17632